/* Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 17, ../sass/ie.scss */
.navigation.block .social-media a {
  border-left: 0;
}
/* line 22, ../sass/ie.scss */
.navigation.block a {
  border-left: 1px solid #00aaf4;
}
/* line 25, ../sass/ie.scss */
.ie9 .navigation.block a:before, .navigation.block a:after {
  display: none;
}

/* line 32, ../sass/ie.scss */
.flippy {
  overflow: hidden !important;
}
/* line 36, ../sass/ie.scss */
.flippy .group.outter-tile .tile {
  position: relative;
  left: -15px;
}

/* line 45, ../sass/ie.scss */
.ie9 .community #apply-for-grant-signup {
  background-color: transparent;
}
