/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/27fe26");

  
@font-face {font-family: 'MostraNuova';src: url('/font/27FE26_0_0.eot');src: url('/font/27FE26_0_0.eot?#iefix') format('embedded-opentype'),url('/font/27FE26_0_0.woff') format('woff'),url('/font/27FE26_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Beppo';src: url('/font/27FE26_1_0.eot');src: url('/font/27FE26_1_0.eot?#iefix') format('embedded-opentype'),url('/font/27FE26_1_0.woff') format('woff'),url('/font/27FE26_1_0.ttf') format('truetype');}
 