//
// Shame (to be fixed at a later stage if there is time or in project future maintenance)
// These are mostly to fix border issues with different grid layouts

.btn {
	.fa-angle-right {
		font-size: ($font-size-medium - 1);
		margin-left: 5px;
	}
	.fa-angle-left {
		font-size: ($font-size-medium - 1);
		margin-right: 5px;
	}	
}

.form .row .form-group:first-child {
	padding-right: 8px;
}

.clinics, .clinics-post {
	.content {

		.grid:first-child .col:first-child {
			border-right: 0;

			.grid:first-child {
				border-top: 0;
			}	
		}

		.grid.full-length .grid .col + .col {
			border-right: 0;
		}
		.grid + .grid {
			border-bottom: 0;
		}
		.grid.quarter-length {
			border-bottom: 0;

			.image-wrap {
				min-height: 100%;
				// border-right: 1px solid white;

				&:first-child {
					border-left: 1px solid white;
				}
			}
		}
		.col.half-length:first-child .image-wrap + .image-wrap {
			border-bottom: 1px solid white;
		}
		.grid.three-quarters-length {
			border-bottom: 0;
		}
		.half-length .col-half + .col-half .image-wrap,
		.half-length + .half-length .col-half .image-wrap {
			border-top: 1px solid white;
		}

		.video-tile:first-child {
			border-top: 1px solid white;
		}
	}
}

.all-about-netball {

	.group + .group .tile {
		border-top: 1px solid white;
	}

	@media screen and (max-width: $screen-small) {
		.equipment, .rules, .fitness {
			float: left;
			width: 100%;
		}
	}
}

.ie9 {
	.community {
		#apply-for-grant-signup {
			background-color: transparent;
		}
	}		
}