
// Brand colors
// -------------------------

$brand-primary:						#0098db;	//Ocean Blue
$brand-secondary:					#004165;	//Deep Current

$brand-accent-one:					#d0eef8;	//Baby blue
$brand-accent-two:					#dfe9ea;	//Dirty blue
$brand-accent-three:				#9f9f9f;	//Light gray
$brand-accent-four:					#6d9da2;	//Cerulean
$brand-accent-five:					#cdeff3;	//Poppy blue
$brand-accent-six:					#37c0d0;	//Aqua
$brand-accent-seven:				#facea8;	//Light orange
$brand-accent-eight:				#f3933e;	//Sand orange



$brand-heading-accent-one:			#36778a;	//Puuissan blue



// Scaffolding
// -------------------------

$body-bg:               $brand-primary !default;
$text-color:            #444444 !default;
$link-color:            $text-color !default;
$link-hover-color:      darken($link-color, 15%) !default;



// Typography
// -------------------------


// font-family:'Helvetica W01 Light';
// font-family:'Helvetica W01 Light Obl';
// font-family:'Helvetica W01 Roman';
// font-family:'Helvetica W01 Italic';
// font-family:'Helvetica W01 Bold';
// font-family:'HelveticaW01-BoldItalic';
// font-family:'Helvetica W01 Blk';
// font-family:'Helvetica W01 Blk Obl';
// font-family:'Helvetica W01 Light Cn';
// font-family:'HelveticaW01-LightCnObl';
// font-family:'Helvetica W01 Cn';
// font-family:'Helvetica W01 Cn Obl';
// font-family:'Helvetica W01 Bd Cn';
// font-family:'Helvetica W01 Bd Cn Obl';
// font-family:'Helvetica W01 Blk Cn';
// font-family:'HelveticaW01-BlkCnObl';
// font-family:'Helvetica W01 Narrow Rg';
// font-family:'HelveticaW01-NarrowRgOb';
// font-family:'Helvetica W01 Narrow Bd';
// font-family:'HelveticaW01-NarrowBdOb';
// font-family:'Helvetica W01 Cm';
// font-family:'Helvetica W01 Extra Cm';
// font-family:'Helvetica W01 Ultra Cm';
// font-family:'HelveticaInseratW01-Rg';
// font-family:'HelveticaW01-RoundedBd';
// font-family:'HelveticaW01-RoundedBdO';
// font-family:'HelveticaW01-RoundedBlk 709929';
// font-family:'HelveticaW01-RoundedBlk 709932';
// font-family:'HelveticaW01-RoundedBdC 709938';
// font-family:'HelveticaW01-RoundedBdC 709941';
// font-family:'HelveticaW01-TextbookRg 709917';
// font-family:'HelveticaW01-TextbookRg 709920';
// font-family:'HelveticaW01-TextbookBd 709911';
// font-family:'HelveticaW01-TextbookBd 709914';
// font-family:'Helvetica W95 Fractions';
// font-family:'HelveticaW95-FractionsB';
// font-family:'Andes W04 UltraLt';
// font-family:'Andes W04 XLt';
// font-family:'Andes W04 Lt';
// font-family:'Andes W04 Book';
// font-family:'Andes W04 Regular';
// font-family:'Andes W04 Md';
// font-family:'Andes W04 SemiBold';
// font-family:'Andes W04 Bold';
// font-family:'Andes W04 XBold';
// font-family:'Andes W04 Black';



$font-family-sans-serif:  		"Helvetica W01 Light", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif-bold:	"Helvetica W01 Bold", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif-two:	"Andes W04 Regular", Helvetica, Arial, sans-serif !default;

$font-family-base:        		"Helvetica W01 Roman", Helvetica, Arial, sans-serif !default;

$font-size-base:          		14px !default;
$font-size-small:         		ceil($font-size-base * 0.85) !default;	//12px
$font-size-extra-small:	  		ceil($font-size-base * 0.60) !default;	//9px
$font-size-medium: 		  		ceil($font-size-base * 1.10) !default;	//16px
$font-size-extra-medium:  		ceil($font-size-base * 1.35) !default;	//19px
$font-size-large:         		ceil($font-size-base * 1.55) !default;
$font-size-extra-large:   		ceil($font-size-base * 2) !default;

$font-size-jumbo:				32px !default;
$font-size-extra-jumbo:			ceil($font-size-jumbo * 1.25) !default;		//40px

$line-height-base:        1.428571429 !default; // 20/14
$line-height-computed:    floor($font-size-base * $line-height-base) !default; // ~20px

$headings-font-family:    $font-family-base !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;



// Buttons
// -------------------------

$btn-font-weight:                normal !default;
$btn-font-family:				 $font-family-sans-serif-two;

$btn-default-color:              #444 !default;
$btn-default-bg:                 transparent !default;
$btn-default-border:             #444 !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 transparent !default;
$btn-primary-border:             #fff !default;



// Z-index master list
// -------------------------
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;



// Components
// -------------------------
// Based on 14px font-size and 1.428 line-height (~20px to start)

$padding-base-vertical:          6px !default;
$padding-base-horizontal:        12px !default;

$padding-large-vertical:         10px !default;
$padding-large-horizontal:       16px !default;

$padding-small-vertical:         5px !default;
$padding-small-horizontal:       10px !default;

$padding-extrasmall-vertical:    1px !default;
$padding-extrasmall-horizontal:  5px !default;

$line-height-large:              1.33 !default;
$line-height-small:              1.5 !default;

$border-radius-base:             4px !default;
$border-radius-large:            6px !default;
$border-radius-small:            3px !default;




// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
$screen-xsmall:              480px !default;
$screen-phone:               $screen-xsmall !default;

// Small screen / tablet
$screen-small:               768px !default;
$screen-tablet:              $screen-small !default;

// Medium screen / desktop
$screen-medium:              992px !default;
$screen-desktop:             $screen-medium !default;

// Large screen / wide desktop
$screen-large:               1200px !default;
$screen-large-desktop:       $screen-large !default;

// So media queries don't overlap when required, provide a maximum
$screen-phone-max:           ($screen-small - 1) !default;
$screen-small-max:           ($screen-medium - 1) !default;
$screen-tablet-max:          ($screen-desktop - 1) !default;
$screen-desktop-max:         ($screen-large-desktop - 1) !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-small - 1) !default;
$screen-sm-max:              ($screen-medium - 1) !default;
$screen-md-max:              ($screen-large - 1) !default;



// Miscellaneous
// -------------------------

// Hr border color
$hr-border:                   $brand-secondary !default;




// Grid system 
// --------------------------------------------------

//These values represent the max values of the grid, beyond these values the grid will have rows/columns appened to it to maintain ratio of grid tiles
$grid-max-width:			1200px!default;
$grid-max-height:			720px!default;

// Number of columns in the grid system
$grid-columns:              12 !default;
// Padding, to be divided by two and applied to the left and right of all columns
$grid-gutter-width:         30px !default;
// Point at which the navbar stops collapsing
$grid-float-breakpoint:     $screen-tablet !default;




// Container sizes
// --------------------------------------------------

// Small screen / tablet
$container-tablet:          720px !default;
// Medium screen / desktop
$container-desktop:         940px !default;
// Large screen / wide desktop
$container-large-desktop:   1140px !default;

