@import "compass/css3";
 
@import "compass";

@import "variables";
@import "mixins";

/* Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */

.navigation {
	&.block {

		.social-media {
			a {
				border-left: 0;
			}			
		}

		a {
			border-left: 1px solid lighten($brand-primary, 5%);

			.ie9 &:before, &:after {
				display: none;
			}
		}
	}	
}