@import "compass";

// Import all the variables into the main css file.
@import "variables";
@import "mixins";
@import "fonts";
@import "scaffolding";
@import "normalize";
@import "grid";
@import "utilities";
@import "modals";

// Master Head Module
//====================================================================================================================================
//====================================================================================================================================

.master-head {
	@include make-row();
	height: 10%;

	.branding {
		@include make-column(3);
	}

	.logos {
		position: absolute;
		top: 50%;
		margin-top: -20px;
	}

	.main-nav {
		@include make-column(9);
	}

	.nav-items {
		position: relative;
		float: right;
		max-width: 95%;
		height: 100%;	
	}

	.navigation {
		float: left;		
		height: 100%;

		li {
			padding-top: 20px;
			padding-bottom: 20px;
			width: 10%;	
		}

		a {
			padding: 0 5%;
			color: white;
		}

		.social-media {
			width: 3%;	
		}
	}

	.menu-icon {
		display: none;
		float: right;
		padding: 12px 0;
	}

	@media screen and (min-width: $screen-xsmall) {
		.navigation {
			display: table;
			height: 100%!important;
			
			li {
				padding-top: 0;
				padding-bottom: 0;				
				display: table-cell;
			}			
		}
	}	

	@media screen and (max-width: $screen-desktop) {
		.nav-items {
			max-width: 98.5%;
		}

		.navigation {

			li {
				width: 20%;
			}

		 	.social-media {
				display: block;
				width: auto;
				margin-top: 3px;

				a {
					padding: 0 20px;
					border-left: 0;

					&:before {		
						border-right: 0;
					}
				}
			}			
		}
	}

	@media screen and (max-width: $screen-small) {
		.main-nav {	
			padding-left: 0;
			padding-right: 0;
		}	

		.nav-items {
			max-width: none;	
		}

		.sharp-brand-angle {
			left: 70%;
		}
	}

	@media screen and (max-width: $screen-xsmall) {
		height: auto;

		.menu-icon {
			display: block;
		}

		.nav-items {
			float: none;
		}

		.navigation {
			height: auto;			
			// display: none;
			// @extend .collapse;
			float: none;

			li {
				display: list-item;
				width: auto;
			}
		}
	}
}

// Main Navigation Module
//====================================================================================================================================
//====================================================================================================================================

.main-nav {
	height: 100%;
	@include gradient-vertical($start-color: lighten($light-accent, 5%), $end-color: darken($light-accent, 10%));
}

// Navigation Module
//====================================================================================================================================
//====================================================================================================================================

%navigation {
	margin: 0;
	padding: 0;
	list-style-type: none;

	li {
		vertical-align: middle;
	}

	a {
		position: relative;
		padding: 0 10px;
		border-left: 1px solid lighten($light-accent, 40%);
	}

	li:first-child a, li:first-child a:before {
		border-left: 0;
		border-right: 0;
	}
}

.navigation {
	@extend %navigation;

	&.horizontal {
		@include horizontal-list;

		li {
			@include horizontal-list-item;
			padding-left: 0;
			padding-right: 0;
		}
	}

	&.block {
		li {
			text-align: center;
			text-transform: uppercase;
		
			&.active, &:hover {
				background-color: white;

				a {
					border-left: 1px solid transparent;
					color: lighten($light-accent, 20%);

					&:before {
						border-right: 1px solid transparent;
					}
				}
			}
		}

		a {
			display: block;
			border-left: 1px solid lighten($light-accent, 5%);

			&:before {
				position: absolute;
				content: "";
				left: -1px;
				top: 0;
				width: 1px;
				height: 100%;			
				border-right: 1px solid darken($light-accent, 5%);
			}			
		}
	}
}

// Brand Module
//====================================================================================================================================
//====================================================================================================================================

.branding {
	height: 100%;
}

.sharp-brand-angle {
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 100%;
	margin: 15px;
	top: 0;
	right: -11px;
	margin: 0px;
	z-index: 999;
	@include skew(-16deg, 0deg);
	@include gradient-vertical($start-color: lighten($light-accent, 2%), $end-color: darken($light-accent, 13%));	

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: -10px;
		bottom: 0;
		width: 18px;
		@include skew(-12deg, 0deg);
		@include gradient-vertical($start-color: lighten($light-accent, 2%), $end-color: darken($light-accent, 13%));			
	}
}

.brand {
	height: 100%;	
	padding-left: 15px;
	padding-right: 15px;
	margin-left: -15px;
	margin-right: -15px;
	@include gradient-radial($inner-color: lighten($dark-accent, 8%), $outer-color: $dark-accent);

	.anz-logo {
		display: inline-block;
		width: 97px;
		height: 35px;
		@include img-retina(image-url("anz-logo-1x.png"), image-url("anz-logo-2x.png"), 97px, 35px);
	}

	.nbn-logo {
		text-transform: uppercase;
		color: white;
	}
}

// Menu Module
//====================================================================================================================================
//====================================================================================================================================

.menu {
	// @extend %textured-item;
	@include make-row();
	padding-top: 1px;

	&:after {
		position: static;
	}

	.menu-media {
		margin-top: 3px;
		@include make-column(6);

		@media (max-width: $container-desktop) {
			margin-top: 20px;
		}
	}

	.menu-content {
		@include make-column(6);
		font-size: $font-size-big;

		@media (max-width: $container-desktop) {
			margin-top: 20px;
			text-align: left;
		}
	}
}

// Icon Modules
//====================================================================================================================================
//====================================================================================================================================

%icon {
	display: inline-block;
	vertical-align: middle;
}

.menu-icon {
	@extend %icon;

	.fa-circle-o {
		position: relative;
		font-size: 50px;
	}

	.fa-bars {
		position: absolute;
		top: 27%;
		left: 30%;
		font-size: 21px;
	}
}

// Main Content Module
//====================================================================================================================================
//====================================================================================================================================

.content  {
	background-color: $dark-accent;

	.grid {
		position: relative;
		@include make-row();

		.row {
			margin-left: 0;
			margin-right: 0;
		}

		&.resizing {
			top: -30px;
		}
	}

	img {
		max-width: 100%;
	}

	.image-wrap {
		overflow: hidden;
		max-width: 100%;

		width: 50%;
		float: left;
	}

	.col {
		height: 100%;
		padding-left: 0;
		padding-right: 0;
	}	

	@media screen and (min-width: $screen-desktop) {
		min-height: 82%;

		.col {
			margin-right: -2px; //Handle subpixel level rendering issues in browers e.g: http://ejohn.org/blog/sub-pixel-problems-in-css/ 
			margin-left: 1px;			
		}

		.grid {
			overflow: hidden;
		}

		.image-wrap {
			float: none;
			width: auto;
		}

		.center-tile {
			padding-bottom: 50em;
			margin-bottom: -50em;
		}		
	}

	@media screen and (max-width: $screen-xsmall) {
		.image-wrap {
			float: none;
			width: auto;
		}				
	}
}

// Heading Module
//====================================================================================================================================
//====================================================================================================================================

.heading {
	text-transform: uppercase;
}

.subheading {
	
}

.tile-heading {
	@extend .heading;

	color: $heading-accent-one;
}

// Tile Module
//====================================================================================================================================
//====================================================================================================================================

.outter-tile {
	display: table;
	width: 100%;
	height: 100%;

	min-height: 250px;
}

.tile  {
	display: table-cell;
	position: relative;
	z-index: 99;
	padding-left: 15px;
	padding-right: 15px;	
	vertical-align: middle;	
}

.shade-one {
	background-color: $highlight-one;	
}

.shade-two {
	background-color: darken($highlight-one, 10%);	
}	

// Master Foot Module
//====================================================================================================================================
//====================================================================================================================================

.master-foot  {
	@include make-row();
	position: relative;
	height: 8%;
	background-color: $dark-accent;

	.nav-items {
		position: absolute;
		top: 50%;
		margin-top: -15px;
	}

	.navigation, .copyright {
		@include make-column(12);
		font-size: 11px;
		margin: 0;
	}

	.navigation a, .copyright {
		color: $highlight-one;
	}
}