@import "compass";

// Import all the variables into the main css file.
@import "variables";
@import "mixins";
@import "fonts";
@import "scaffolding";
@import "normalize";
@import "buttons";
@import "typography";
@import "forms";
@import "grid";
@import "utilities";
@import "modals";
@import "carousel";

// Global Layout Specific Styles
//====================================================================================================================================
//====================================================================================================================================

body {

	@media screen and (min-width: $screen-desktop) {	
		overflow-y: hidden;
		overflow-x: hidden;
	}
}

// Master Head Module
//====================================================================================================================================
//====================================================================================================================================

.master-head {
	@include make-row();

	.logos {
		padding: 15px 0;
	}

	.nav-items {
		position: relative;
		float: right;
		max-width: 85%;
		height: 100%;	
	}

	.navigation {
		float: left;
		width: 100%;
		height: 100%;
		@include gradient-vertical($start-color: lighten($brand-primary, 5%), $end-color: darken($brand-primary, 10%));

		li {
			padding-top: 20px;
			padding-bottom: 20px;
			width: 10%;	
		}

		a {
			padding: 0 5%;
			color: white;
			font-family: $font-family-sans-serif-two;
		}

		.social-media {
			width: 3%;	
		}
	}

	.menu-icon {
		display: none;
		position: absolute;
		top: 0;
		right: 5%;
		padding: 12px 0;
		color: white;
	}

	@media screen and (min-width: $screen-xsmall) {
		.navigation {
			display: table;
			height: 100%!important;
			
			li {
				padding-top: 0;
				padding-bottom: 0;				
				display: table-cell;
			}
		}
	}	

	@media screen and (max-width: $screen-desktop) {
		.nav-items {
			max-width: 98.5%;
		}

		.navigation {
			li {
				width: 20%;
			}

		 	.social-media {
				width: auto;
				margin-top: 3px;

				a {
					padding: 20px 10px;
					border-left: 0;

					&:before {		
						border-right: 0;
					}
				}
			}			
		}
	}

	@media screen and (min-width: $screen-desktop) {	
		height: 8%;

		.navigation {
			a {
				font-size: ($font-size-medium - 2);
			}
		}

		.logos {
			position: absolute;
			top: 50%;
			padding: 0;
			margin-top: -20px;
		}		
	}

	@media screen and (min-width: $screen-large-desktop) {
		.navigation {
			a {
				font-size: ($font-size-medium);
			}
		}		
	}

	@media screen and (max-width: $screen-desktop) {
		.main-nav {
			float: left;
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}	

		.nav-items {
			max-width: none;
			width: 100%;
		}

		.sharp-brand-angle {
			left: 70%;
		}
	}

	@media screen and (max-width: $screen-xsmall) {
		// height: auto;

		.menu-icon {
			display: block;
		}

		.nav-items {
			float: none;
		}

		.navigation {
			height: auto;			
			float: none;

			li {
				display: list-item;
				width: auto;
			}
		}
	}
}

// Main Navigation Module
//====================================================================================================================================
//====================================================================================================================================

.main-nav {
	height: 100%;
	@include gradient-vertical($start-color: lighten($brand-primary, 5%), $end-color: darken($brand-primary, 10%));
}

// Navigation Module
//====================================================================================================================================
//====================================================================================================================================

%navigation {
	margin: 0;
	padding: 0;
	list-style-type: none;

	li {
		vertical-align: middle;
	}

	a {
		position: relative;
		padding: 0 10px;
		border-left: 1px solid lighten($brand-primary, 40%);
		font-size: $font-size-small;
	}

	li:first-child a, li:first-child a:before {
		border-left: 0;
		border-right: 0;
	}
}

.navigation {
	@extend %navigation;

	&.horizontal {
		@include horizontal-list;

		li {
			@include horizontal-list-item;
			padding-left: 0;
			padding-right: 0;
		}
	}

	&.block {
		li {
			text-align: center;
			text-transform: uppercase;
		
			&.active, &:hover {
				background-color: white;

				a {
					border-left: 1px solid transparent;
					color: lighten($brand-primary, 20%);

					&:before {
						border-right: 1px solid transparent;
					}
				}
			}
		}

		a {
			display: block;
			border-left: 1px solid lighten($brand-primary, 5%);

			&:before {
				position: absolute;
				content: "";
				left: -1px;
				top: 0;
				width: 1px;
				height: 100%;			
				border-right: 1px solid darken($brand-primary, 5%);
			}			
		}
	}
}

// Brand Module
//====================================================================================================================================
//====================================================================================================================================

.branding {
	height: 100%;
}

.sharp-brand-angle {
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 100%;
	margin: 15px;
	top: 0;
	right: -11px;
	margin: 0px;
	z-index: 999;
	@include skew(-16deg, 0deg);
	@include gradient-vertical($start-color: lighten($brand-primary, 2%), $end-color: darken($brand-primary, 13%));	

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: -10px;
		bottom: 0;
		width: 18px;
		@include skew(-12deg, 0deg);
		@include gradient-vertical($start-color: lighten($brand-primary, 2%), $end-color: darken($brand-primary, 13%));			
	}
}

.brand {
	height: 100%;	
	padding-left: 15px;
	padding-right: 15px;
	margin-left: -15px;
	margin-right: -15px;
	@include gradient-radial($inner-color: lighten($brand-secondary, 8%), $outer-color: $brand-secondary);

	.anz-logo {
		display: inline-block;
		width: 97px;
		height: 35px;
		@include img-retina(image-url("anz-logo-1x.png"), image-url("anz-logo-2x.png"), 97px, 35px);
	}

	.nbn-logo {
		text-transform: uppercase;
		font-family: $font-family-sans-serif;
		color: white;
		font-size: $font-size-large;
		vertical-align: super;

		b {
			font-family: $font-family-sans-serif-bold;
			font-weight: normal;
		}
	}
}

// Icon Modules
//====================================================================================================================================
//====================================================================================================================================

%icon {
	display: inline-block;
	vertical-align: middle;
}

.menu-icon {
	@extend %icon;

	.fa-circle-o {
		position: relative;
		font-size: 50px;
	}

	.fa-bars {
		position: absolute;
		top: 27%;
		left: 30%;
		font-size: 21px;
	}
}

%social-media-icon {
	@extend %icon;

	padding: 0 5px;
	@include border-radius(4px);
	font-size: $font-size-extra-medium + 1;
	color: white;
}

.twitter-icon {
	@extend %icon;
	@extend %social-media-icon;
	
	background: #00b1f3;
}

.instagram-icon {
	@extend %icon;
	@extend %social-media-icon;
	
	background: #385c8f;
}

.facebook-icon {
	@extend %icon;
	@extend %social-media-icon;
	
	padding: 0 10px;
	background: #5773b2;	
}

// Image Wrap Module
//====================================================================================================================================
//====================================================================================================================================

.image-wrap {
	position: relative;
	overflow: hidden;
	max-width: 100%;
	max-height: 50%;
	min-height: 50%;
	width: 50%;
	float: left;
	z-index: 99;
	border-top: 1px solid white;
	background-color: $brand-primary;

	&:first-child {
		border-top: 0;
	}

	img {
		max-width: 100%;
	}	
}

// Main Content Module
//====================================================================================================================================
//====================================================================================================================================

.content  {
	position: relative;

	.grid {
		position: relative;
		@include make-row();
		border-top: 1px solid white;
		border-bottom: 1px solid white;

	    @include transition-property(top);
	    @include transition-duration(0.5s);
	    @include transition-timing-function(ease-in);	

		&.resizing {
			top: -30px;
		}

		& > .col {
			border-left: 1px solid white;
			border-right: 1px solid white;			
		}
	}

	.grid + .grid {
		border-top: 0;
	}

	.col {
		height: 100%;
		padding-left: 0;
		padding-right: 0;

	    @include transition-property(left);
	    @include transition-duration(0.5s);
	    @include transition-timing-function(ease-in);	    
	}

	.col + .col {
		border-left: 0;
	}	

	@media screen and (min-width: $screen-desktop) {
		max-width: 1200px;
		max-height: 700px;		
		height: 87%;

		.grid {
			overflow: hidden;
			height: 50%;
		}

		.image-wrap {
			float: none;
			width: auto;
		}		
	}

	@media screen and (max-width: $screen-xsmall) {
		.image-wrap {
			float: none;
			width: auto;
		}				
	}
}

// Appended Outter Tiles Module
//====================================================================================================================================
//====================================================================================================================================

.appended-tiles {
	position: absolute;
	overflow: hidden;
	left: 0;

	.grid, .col {
		position: static;
		top: auto;
		left: auto;
		opacity: 1;
	}

	&.appended-col {
		z-index: 100;
		border-right: 1px solid white;		
		top: 8%;

		.image-wrap {
			width: auto;
			float: none;
			border-top: 1px solid white;
		}
	}

	&.appended-row {
		width: 100%;
		margin-top: -1px; //Hide sub pixel rendering issue
		z-index: 101;
		border-top: 1px solid white;

		.image-wrap {
			max-height: none;

			border-right: 1px solid white;
		}

		.grid, .col, .image-wrap {
			height: 100%;
		}

		.col {
			float: left;
			padding-left: 0;
			padding-right: 0;			
		}		
	}
}

// Default Tile Module
//====================================================================================================================================
//====================================================================================================================================

.outter-tile {
	display: table;
	width: 100%;
	height: 100%;
	padding: 40px 0;

	&.group {
		max-height: 50%;
		padding: 0;
	}	

	&.vertical-center {
		padding: 0;
	}

	@media screen and (min-width: $screen-xsmall) and (max-width: $screen-desktop) {
		&.group {
			float: left;			
			max-width: 50%;

			.tile {
				padding-left: 0;
				padding-right: 0;
			}				
		}	
	}	

	@media screen and (max-width: $screen-xsmall) {
		&.group {
			float: none;			
			max-width: none;
		}
	}
}

.tile  {
	display: table-cell;
	position: relative;
	z-index: 99;
	padding-left: 15px;
	padding-right: 15px;	
	vertical-align: middle;

	&.center {
		text-align: center;
	}

	@media screen and (max-width: $screen-xsmall) {
		.heading-exjumbo {
			font-size: $font-size-jumbo;
		}
		.heading-jumbo {
			font-size: $font-size-extra-large;
		}
	}	
}

// Shade Module (Allows the branding of components on a component level thus sacrificing a small semantics hit for a large reusability gain)
//====================================================================================================================================
//====================================================================================================================================

.shade-one {
	background-color: $brand-accent-one; //Baby Blue	
}

.shade-two {
	background-color: darken($brand-accent-one, 10%);	
}

.shade-three {
	background-color: $brand-primary; //Ocean Blue
}

.shade-four {
	background-color: lighten($brand-primary, 10%);
}

.shade-five {
	background-color: darken($brand-primary, 10%);
}

.shade-six {
	background-color: $brand-accent-two; //Dirty blue
}

.shade-seven {
	background-color: $brand-accent-four; //Cerulean
}

.shade-eight {
	background-color: lighten($brand-accent-four, 20%);	
}

.shade-nine {
	background-color: lighten($brand-accent-four, 20%);
}

.shade-ten {
	background-color: lighten($brand-accent-one, 5%); //Paper white
}

.shade-eleven {
	background-color: $brand-accent-five; //Poppy blue
}

.shade-twelve {
	background-color: $brand-accent-six; //Aqua
}

.shade-thirteen {
	background-color: lighten($brand-accent-six, 22%);
}

// Content Tile Module (Subset of .tile)
//====================================================================================================================================
//====================================================================================================================================

.content-tile {
	.heading {
		margin-bottom: 5px;
	}
}

// Info Tile Module (Subset of .tile)
//====================================================================================================================================
//====================================================================================================================================

.info-tile {
	p {
		@extend .sub-content;

		margin: 0;
	}
	h4 {
		margin-bottom: 0;
	}
}

// Carousel Module
//====================================================================================================================================
//====================================================================================================================================

.carousel, .carousel-inner, .item {
	height: 100%;
}

.carousel-control {
	z-index: 99;
	bottom: auto;

	&.left {
		left: auto;
		right: 27px;
	}
}

// Video Tile Module (Subset of .tile)
//====================================================================================================================================
//====================================================================================================================================

.video-tile {
	display: block;
	width: 100%;
	height: 50%;	
	overflow: hidden;
	border-bottom: 1px solid white;

	.video-tile-image {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}

	.video-tile-content {
		position: relative;
		padding-top: 10px;
		padding-bottom: 10px;
		z-index: 100;
	}

	h2 {
		margin-bottom: 5px;
	}

	.tile-heading { 
		display: inline-block;

		.brand-overlay {
			z-index: -1;
		}
	}

	& + & {
		border-bottom: 0;
	}

	@media screen and (min-width: $screen-xsmall) {
		.video-tile-image {
			width: 100%;
			height: auto;
		}
	}
}

// Ambassador Video Tile Module (Subset of .tile)
//====================================================================================================================================
//====================================================================================================================================

.ambassador-video-tile {
	display: block;
	width: 100%;
	height: 100%;	
	overflow: hidden;
	border-bottom: 1px solid white;

	.video-tile-image {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}

	.video-tile-content {
		position: relative;
		padding-top: 10px;
		padding-bottom: 10px;
		z-index: 100;
	}

	h2 {
		margin-bottom: 5px;
	}

	.tile-heading { 
		display: inline-block;

		.brand-overlay {
			z-index: -1;
		}
	}

	& + & {
		border-bottom: 0;
	}

	@media screen and (min-width: $screen-xsmall) {
		.video-tile-image {
			width: 100%;
			height: auto;
		}
	}
}

// Article Tile Module (Subset of .tile)
//====================================================================================================================================
//====================================================================================================================================

.article-tile {
	padding-top: 10px;
	padding-bottom: 10px;

	.article-list {
		padding: 0;
		margin: 0;
		font-size: ceil($font-size-small - 1);

		li {
			margin-bottom: 15px;
			list-style-type: none;
		}
	}

	.subheading {
		margin-bottom: 7px;	
	}
}

// Overlays Module (For rendering an overlay behind an element - should be used in conjunction with the shade module to produce colors)
//====================================================================================================================================
//====================================================================================================================================

.brand-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
	@include opacity(0.6);
}

// Master Foot Module
//====================================================================================================================================
//====================================================================================================================================

.master-foot  {
	@include make-row();
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;	
	background-color: $brand-secondary;

	.navigation, .copyright {
		@include make-column(12);
		font-size: 11px;
		margin: 0;
	}

	.navigation a, .copyright {
		color: $brand-accent-one;
		font-size: $font-size-extra-small;
	}

	@media screen and (min-width: $screen-desktop) {
		position: absolute;
		bottom: 0;
		width: 100%;	
		height: 5%;
		padding: 0;

		.nav-items {
			position: absolute;
			top: 50%;
			margin-top: -15px;
		}		
	}	
}

// Form Module
//====================================================================================================================================
//====================================================================================================================================

.form {

	.form-group {
		margin-bottom: 6px;
	}

	.add-file {
	    position: relative;
	    overflow: hidden;
	    cursor: pointer;		
	}

	.file-input {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    margin: 0;
	    padding: 0;	    		
	    z-index: 99;
	    line-height: 0;
	    @include opacity(0);
	    cursor: pointer;
	    _cursor: hand;		
	}

	.inline-control {
		display: inline;
		width: auto;
	}

	@media screen and (min-width: $screen-desktop) {	
		.form-group + .form-group {
			left: -15px;
			padding-right: 0px;
		}		
	}
}

// Loading Module
//====================================================================================================================================
//====================================================================================================================================
	
.loader {
	content: "";
	background-image: image-url("loading-icon.png");
	position: absolute;
	top: 0;
	left: 0;
	background-position: center center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}

// Tooltip Module
//====================================================================================================================================
//====================================================================================================================================

.tooltip {
	cursor: pointer;
}

// Video Module
//====================================================================================================================================
//====================================================================================================================================

.video-pane {
	height: 100%;
}

.video-toggle {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

// Flip Module
//====================================================================================================================================
//====================================================================================================================================

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.flip-container, .front, .back, .flipper {
    width: 100%;
    height: 100%;
	min-height: 370px;

	@media screen and (min-width: $screen-desktop) {	
		min-height: 0;		
	}
}

.flipper {
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;


    position: absolute;
    top: 0;
    left: 0;
}

.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);

    z-index: 0;
}

.flip-container.flip .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container.flip .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
 
.no-csstransforms3d .flip-container {
	.front {
		display: block;
	}
	.back {
		display: none;
	}
}

.front {
    z-index: 2;
}

.flip-toggle {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 99;
}