					
	<img src="<%= data.slide.imageurl %>">

	<div class="gallery-meta">
		<h2 class="tile-heading heading-sm verbose">
			<span class="overlay-content"><%= data.slide.caption %></span>
			<div class="brand-overlay shade-eighteen"></div>
		</h2>
		<a class="btn btn-sm btn-action left carousel-control" href="<%= data.target %>" data-slide="prev"><i class="fa fa-angle-left"></i></a>
		<a class="btn btn-sm btn-action right carousel-control" href="<%= data.target %>" data-slide="next"><i class="fa fa-angle-right"></i></a>								
	</div>